html {font-size:.625rem;/*10 ÷ 16 × 100% = 62.5%*/  height:100%;}
* { margin: 0;padding:0}
img{border:0}
a{text-decoration:none}
a:active, a:focus{outline: none;}
ul,ol{list-style:none}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
.clr{clear:both}
.none{display:none}
.hide{display:none!important}
.show{display: block !important}
body,input,button,option,textarea,label,select,legend,h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font:14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;color:#333;outline:none}
section{max-width:640px;width:100%;margin:96px auto 0 auto;background:#fff;position:relative}
header{max-width:640px;width:100%;height:auto;display:block;margin:auto;background:#39B54A;position: fixed;top: 0;left: 0;right: 0;z-index: 99;}
header .menu{position:absolute;top:0;right:0;background:#39B54A;padding:9px 0;width:54px;cursor:pointer}
#search-site{display:block;background:#e7e7e7;overflow:hidden;padding:1%;position:relative}
#search-site .topinput{float:left;width:75%;padding-top:3px;border:0;background:#fff;height:33px;text-indent:10px;font-size:13px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
#search-site .clear{position:absolute;top:0;bottom:0;right:28%;width:20px;height:20px;display:block;margin:auto}
#search-site .btntop{float:right;width:23%;height:36px;border:0;background:#39B54A;color:#fff;font-size:14px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px}
.gototop{display:block;overflow:hidden;padding:5px;text-align:center;font-size:14px;color:#999;position:relative;background:#ececec;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ececec),to(#fff));background:-webkit-linear-gradient(top,#fff,#ececec);background:-moz-linear-gradient(top,#fff,#ececec);background:-ms-linear-gradient(top,#fff,#ececec);background:-o-linear-gradient(top,#fff,#ececec)}
.gototop i{display:block;margin:5px auto;width:0;height:0;border-bottom:6px solid #999;border-left:6px solid transparent;border-right:6px solid transparent}footer{max-width:640px;width:100%;margin:5px auto 0;background:#fff;overflow:hidden}
[class^="iconmobile-"],[class*="iconmobile-"]{background-image:url(../images/iconmobile@2x.png);background-repeat:no-repeat;display:inline-block;height:30px;width:30px;line-height:30px;vertical-align:middle;}
.iconmobile-logo{width:145px;height:32px;margin:8px;}
.iconmobile-menu{background-position: -155px 0;width:30px;height:30px;display:block;margin:auto}
header .actmenu .iconmobile-menu{background-position: -188px 0;width:30px;height:30px;display:block;margin:auto}
.iconmobile-phone{background-position:-223px 0;width:15px;height:25px;display:block;margin:0 auto 7px}
.iconmobile-tablet{background-position:-240px 0;width:32px;height:25px;display:block;margin:0 auto 9px}
.iconmobile-laptop{background-position:-272px 0;width:39px;height:25px;display:block;margin:0 auto 9px}
.iconmobile-phukien{background-position:-310px 0;width:25px;height:25px;display:block;margin:0 auto 9px}
.iconmobile-maydoitra{background-position:-338px 0px;height:24px;width:25px;display:block;margin:0 auto 10px}
.iconmobile-simcard{background-position:-364px 0;width:19px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-promo{background-position:-382px 0;width:22px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-news{background-position:-404px 0;width:30px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-pcmvp{background-position:-434px 0;width:32px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-soft{background-position:-467px 0;width:18px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-dgt{background-position:-513px 0;width:30px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-net{background-position:-486px 0;width:26px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-tgop{background-position:-540px 0;width:30px;height:25px;display:block;margin:0 auto 10px}
.iconmobile-fb {background-position:-220px -25px;width:13px;height:20px;margin-right: 10px;}
.iconmobile-yt {background-position:-245px -25px;width:19px;height:20px;margin-right: 10px;}
.iconmobile-gp {background-position:-233px -25px;width:13px;height:20px;margin-right: 10px;}
.iconmobile-cmr{background-position:-263px -25px;width:24px;height:20px;margin-right: 10px;}
.iconmobile-pins{background-position:-286px -25px;width:16px;height:20px;margin-right: 15px;}
.iconmobile-desktop-blue{background-position:-302px -25px;width:24px;height:20px;margin-right: 10px;}
.iconmobile-call{background-position:-325px -25px;width:24px;height:20px;margin-right: 10px;}
.colfoot{display:block;padding:10px;position:relative}
.colfoot li{float:none;position:relative;font-size:13px;color:#444;padding-bottom:5px}
.colfoot li .phonenumber{display:block;overflow:hidden;width:100%}
.colfoot li .phonenumber a{float:left;font-size:16px;color:#288ad6;font-weight:600;width:auto;border:0;padding:0}
.colfoot li .phonenumber sub{float:left;font-size:12px;color:#888;padding:2px 10px}
.colfoot li .timework{float:left;overflow:hidden;width:49%;border:0}
.colfoot li .timework strong{margin-top:2px;font-size:14px;color:#5b533f;display:block}
.colfoot li .timework a{float:none;display:block;border:0;font-size:16px;color:#288ad6;font-weight:600;padding:0 0 5px}
.colfoot li a{float:left;width:50%;color:#444;font-size:13px;line-height:25px;padding:8px 0;border-top:1px solid #dfdfdf}
.colfoot li a span{width:0;height:0;position:relative;top:11px;margin-left:5px;border-top:6px solid #999;border-left:6px solid transparent;border-right:6px solid transparent}
.colfoot li a.infooter{float:none;display:block;width:100%;clear:both;border-bottom:1px solid #dfdfdf}
.colfoot li div{display:inline-block;width:49%;vertical-align:top;font-size:12px;color:#999;line-height:22px}
.colfoot li .subother{display:none;clear:both;overflow:hidden;position:relative}
.colfoot li .subother a{border-bottom:1px solid #dfdfdf;border-top:0;float:left;width:50%}
.colfoot li .subother a.last-child{float:none;width:100%;clear:both;display:block}
.colfoot li .subother p{display:block;padding:5px 0;font-size:12px;color:#666;clear:both;border-bottom:1px solid #dfdfdf}
.copyright{display:block;font-size:12px;color:#999;text-align:center}
.copyright a{color:#288ade}
footer .social{display:block;overflow:hidden;width:98%;margin:10px auto;text-align:center}
footer .social a{float:left;padding:5px;border:1px solid #dfdfdf;margin:5px;width:42%}
footer .social a span{color:#888;font-size:12px}
#imgtrack{display:none}
.homemenu {
        display: block;
        overflow: hidden;
        background: #fff;
        padding-bottom: 2%
    }
    .homemenu li {
        float: left;
        position: relative;
        width: 22%;
        margin: 2% 0 0 2%;
        height: 64px;
        overflow: hidden;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border: 1px solid #288ad6;
        background: #fff;
       
    }
    .homemenu a {
        display: block;
        overflow: hidden;
        font-size: 11px;
        color: #000;
        text-align: center;
        padding: 10px 0 0 0
    }
    .homemenu a h3 {
        font-size: 11px;
        color: #000;
        line-height: 1.3em;
        display: block
    }
    .homemenu a label {
        position: absolute;
        top: 0;
        right: 0;
        background: #fbd600;
        font-size: 9px;
        color: #000;
        padding: 0 3px;
        border-radius: 0 0 0 2px
    }

#page_index section{background: #f1f1f1;}

.cat-header {color: #666; display: block; font-size: 14px; font-weight: 600; line-height: 1.3em; margin: 20px 5px 10px; overflow: hidden;  text-transform: uppercase;}
.owl-recommend {
    display: block;
    margin-left: 2px;
    max-height: 227px;
    overflow: hidden;
}
.owl-recommend .item {
    border: none;
    height: 225px;
    margin-right: 5px;
    position: relative;
}
.owl-recommend .item a {
    background: #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
}
.owl-recommend .item img {
    display: block;
    margin: 10px auto 15px;
    max-height: 120px;
    max-width: 120px;
}
.owl-recommend .item h3 {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 5px 5px;
}
.owl-recommend .item strong {
    color: #d0021b;
    float: left;
    font-size: 12px;
    margin: 0 5px 5px;
}
.owl-recommend .item span {
    color: #797979;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: line-through;
}
.owl-recommend .item div {
    clear: both;
    color: #797979;
    display: block;
    font-size: 12px;
    line-height: 1.1em;
    margin: 0 5px;
}
.owl-recommend .item div b {
    color: #333;
}
.owl-recommend .item p {
    color: #666;
    float: left;
    font-size: 12px;
    margin: 0 0 5px 5px;
}
.owl-recommend .item p strong {
    color: #d0021b;
    float: none;
    font-size: 11px;
    margin: 0 5px 5px;
}
.owl-recommend .item button {
    background: #fff;
    border: 1px solid #288ad6;
    border-radius: 4px;
    bottom: 10px;
    color: #288ad6;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 6px 10px;
    position: absolute;
    right: 10px;
    z-index: 10;
}
.owl-recommend .item button:hover {
    border-color: #ccc;
    color: #666;
}
.owl-recommend .item label {
    bottom: 0;
    color: #999;
    display: block;
    font-size: 11px;
    line-height: 1.1em;
    padding: 5px;
    position: absolute;
}
.owl-recommend .owl-controls {
    display: none !important;
}
.homenews {
    display: block;
    margin: 16px 10px;
    overflow: hidden;
    position: relative;
}
.homenews h2 {
    border-bottom: 1px solid #eee;
    color: #288ad6;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.homenews a {
    clear: both;
    color: #288ad6;
    display: block;
    font-size: 13px;
    margin-top: 14px;
    overflow: hidden;
    text-align: center;
}
.homenews a p {
    background-color: #fff;
    border: 1px solid #288ad6;
    border-radius: 3px;
    color: #288ad6;
    display: inline;
    font-size: 11px;
    padding: 2px 8px;
}
.homenews a img {
    float: left;
    margin-right: 12px;
    max-height: 65px;
    max-width: 100px;
}
.homenews a h3 {
    color: #444;
    display: block;
    font-size: 14px;
    line-height: 1.3em;
    text-align: left;
}
.homenews a span {
    color: #ed5564;
    display: inline-block;
    font-size: 11px;
    text-align: left;
    white-space: nowrap;
}
.homenews a .hotlabel {
    background: #fdd504;
    border: 1px solid #c1a201;
    border-radius: 2px;
    color: #444;
    font-size: 11px;
    font-weight: 700;
    padding: 2px 4px;
    text-transform: uppercase;
}
.homenews a.viewnewsother {
    border: 1px solid #288ad6;
    border-radius: 5px;
    color: #288ad6;
    display: block;
    font-size: 13px;
    margin: 10px auto;
    overflow: hidden;
    padding: 5px 20px;
    text-transform: uppercase;
    width: 100px;
}
.homenews a .cyan {
    color: #999;
}
.homenews a.gthn {
    overflow: visible;
}

nav {
    background: rgba(0, 0, 0, 0.85);
    display: none;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 48px;
    width: 100%;
    z-index: 999;
}
nav ul {
    background: #fafafa;
    display: block;
    overflow: hidden;
    padding-bottom: 2%;
}
nav li {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    float: left;
    height: 64px;
    margin: 2% 0 0 2%;
    overflow: hidden;
    position: relative;
    width: 22%;
}
nav a {
    color: #000;
    display: block;
    font-size: 11px;
    overflow: hidden;
    padding: 10px 0 0;
    text-align: center;
}
nav a h3 {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 1.3em;
    padding-top: 16px;
}
nav a label {
    background: #fbd600;
    border-radius: 0 0 0 2px;
    color: #000;
    font-size: 9px;
    padding: 0 3px;
    position: absolute;
    right: 0;
    top: 0;
}
nav a.closenav {
    background: #ffaa30;
    text-align: center;
    text-transform: uppercase;
}
nav .linkother {
    background: #fafafa;
    display: block;
    overflow: hidden;
}
nav .linkother a {
    border-top: 1px solid #e7e7e7;
    color: #288ad6;
    display: block;
    font-size: 15px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
}
.fixbody {
    display: block;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
}

/* category */
.products {
    border-left: 1px solid #ececec;
    border-top: 1px solid #ececec;
    display: block;
    margin: 5px auto 0;
    overflow: hidden;
}
.products li {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec;
    cursor: pointer;
    float: left;
    margin-left: -1px;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    width: 49.82%;
}
.products li a {
    background: #fff;
    cursor: pointer;
    display: block;
    height: auto;
    overflow: hidden;
    vertical-align: bottom;
}
.products li img {
    display: block;
    height: 100px;
    margin: 20px auto;
    width: 100px;
}
.products li h3 {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0 5px 5px;
    height: 2.6em;
}
.products li h4 {
    color: #d0021b;
    font-weight:bold;
    float: left;
    font-size: 12px;
    margin: 0 5px 5px;
}
.products li h4 del {font-weight: normal;color: #7d7d7d;margin-left: 8px;}
.products li span {
    color: #797979;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: line-through;
}
.products li div {
    clear: both;
    color: #797979;
    display: block;
    font-size: 12px;
    margin: 0 5px;
}
.products li div b {
    color: #333;
}
.products li p {
    color: #666;
    float: left;
    font-size: 12px;
    margin-left: 10px;
}
.products li p strong {
    color: #d0021b;
    float: none;
    font-size: 14px;
    margin: 0 5px 5px;
}
.products li button {
    background: #fff;
    border: 1px solid #288ad6;
    border-radius: 4px;
    bottom: 45px;
    color: #288ad6;
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 10px;
}
.products li label {
    clear: both;
    color: #999;
    display: block;
    font-size: 12px;
    line-height: 1.3em;
    padding: 5px;
    position: relative;
    width: auto;
}
.products li .viewcomconf {
    bottom: 0;
    color: #288ad6;
    display: block;
    font-size: 12px;
    padding: 5px;
    position: absolute;
}
.products li .bginfo {
    background: #fff;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 96%;
    left: 0;
    line-height: 16px;
    overflow: hidden;
    padding: 2% 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 8;
}
.products li .bginfo button {
    background: #fff;
    border: 1px solid #288ad6;
    border-radius: 4px;
    bottom: 10px;
    color: #288ad6;
    cursor: pointer;
    display: block;
    font-size: 12px;
    left: 10px;
    padding: 5px;
    pointer-events: all;
    position: absolute;
    z-index: 10;
}
.products li .bginfo h3 {
    color: #288ad6;
    margin: 5px;
}
.products li .bginfo span {
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 0 5px;
    padding: 2px 0;
    text-decoration: none;
}
.products li .bginfo strong {
    color: #d0021b;
    display: block;
    float: none;
    font-size: 13px;
}
.products li .bginfo .viewdetail {
    color: #288ad6;
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: auto;
    margin: 2px 5px;
    width: auto;
}
.products li .bginfo b {
    bottom: 15px;
    color: #288ad6;
    font-size: 12px;
    position: absolute;
    right: 10%;
}
.products li .bginfo b.closedesc {
    pointer-events: all;
}
.products li.feature {
    height: auto;
    padding-bottom: 35px;
    width: 99.8%;
}
.products li.feature img {
    height: auto;
    margin: 0 auto 10px;
    width: 100%;
}
.products li.feature label {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 10px;
    text-align: right;
    width: 110px;
}
.products li.feature .compare {
    bottom: 0;
    left: auto;
    right: 20px;
}
.products li.feature h3 {
    margin: 0 5px 5px;
    max-width: 75%;
}
.products li.feature .viewdetail {
    color: #288ad6;
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: auto;
    margin: 2px 5px;
    width: auto;
}
.products li.feature .btncomp {
    background: #288ad6;
    color: #fff;
}
.products li .tagmoi {
    background: #fff;
    border: 1px solid #288ad6;
    border-radius: 3px;
    color: #288ad6;
    font-size: 11px;
    font-weight: 700;
    height: 12px;
    left: auto;
    line-height: 12px;
    padding: 3px 5px;
    position: absolute;
    right: 5px;
    text-align: center;
    text-transform: uppercase;
    top: 5px;
    width: auto !important;
    z-index: 2;
}
.products li .tagkmlon {
    border: 1px solid #d04437;
    color: #d04437;
}
.products li .dattruoc {
    border: 1px solid #7e8ce8;
    color: #7e8ce8;
}
.products li .uudailon {
    color: #999;
    font-size: 11px;
}
.products li .tragop {
    background: #f2784b;
    border: 1px solid #e04208;
    color: #fff;
    width: 72px;
}
.products li .taggiasoc {
    background: #8342bc;
    border: 1px solid #55069a;
    color: #fff;
    width: 58px;
}
.products li .hot {
    background: #f64747;
    border: 1px solid #dc0000;
    color: #fff;
    width: 35px;
}
.products li .saleoff {
    background: #f64747;
    border: 1px solid #dc0000;
    color: #fff;
    width: 35px;
}
.btnviewmoresp {
    border: 1px solid #288ad6;
    border-radius: 4px;
    color: #288ad6;
    display: block;
    font-size: 14px;
    margin: 10px auto;
    overflow: hidden;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}
.btnviewmoresp span {
    display: block;
    font-size: 12px;
    text-transform: none;
}
.viewmoreprogram {
    display: block;
    overflow: hidden;
}
.viewmoreprogram span {
    border-bottom: 1px solid #dadada;
    color: #666;
    display: block;
    font-size: 16px;
    overflow: hidden;
    padding: 10px;
}
.viewmoreprogram a {
    border-bottom: 1px solid #dadada;
    color: #288ad6;
    display: block;
    font-size: 16px;
    overflow: hidden;
    padding: 12px 10px;
}
.iconmobile-arrmore {
    background-position: -346px -30px;
    float: right;
    height: 18px;
    width: 12px;
}
.filter {
    display: block;
    overflow: visible;
    position: relative;
    text-align: center;
}
.filter li {
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    color: #666;
    float: left;
    font-size: 12px;
    padding: 12px 0;
    text-align: center;
    text-indent: 8px;
    width: 33.1%;
}
.filter li > div:first-child b {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #888;
    height: 0;
    margin-left: 5px;
    position: relative;
    top: 10px;
    width: 0;
}
.filter li:last-child {
    border-right: 0 none;
    clear: both;
    display: block;
    float: none;
    width: 100%;
}
.filter li:nth-child(3n+3) {
    border-right: 0 none;
}
.filter li strong {
    color: #288ad6;
    display: block;
}
.filter li div.selected {
    color: #288ad6;
}
.filter li div.selected b {
    border-top-color: #288ad6;
}
.filter li .price {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dadada;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: left;
    text-indent: 0;
    top: 42px;
    width: 98.5%;
    z-index: 9;
}
.filter li .price a {
    color: #444;
    display: inline-block;
    font-size: 12px;
    padding: 8px 0;
    width: 44%;
}
.filter li .manufacture {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dadada;
    display: none;
    left: 0;
    padding: 1% 2%;
    position: absolute;
    right: 0;
    text-align: left;
    text-indent: 0;
    top: 42px;
    width: 95.5%;
    z-index: 9;
}
.filter li .manufacture a {
    color: #444;
    display: block;
    font-size: 12px;
    padding: 8px 0;
}
.filter li .manufacture div {
    float: left;
    overflow: hidden;
    width: 50%;
}
.filter li .sortprice {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dadada;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: left;
    text-indent: 0;
    top: 42px;
    width: 98.5%;
    z-index: 9;
}
.filter li .sortprice a {
    color: #444;
    display: inline-block;
    font-size: 12px;
    padding: 8px 0;
    width: 30%;
}
.filter li .disfeaoper {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dadada;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: left;
    text-indent: 0;
    top: 85px;
    z-index: 9;
}
.filter li .disfeaoper a {
    color: #444;
    display: block;
    font-size: 12px;
    padding: 8px 0;
}
.filter li .disfeaoper div {
    float: left;
    overflow: hidden;
    width: 33%;
}
.filter li .disfeaoper div:first-child {
    width: 24%;
}
.filter li .disfeaoper div:last-child {
    width: 41%;
}
.filter li .clearfilter {
    color: #d0021b;
    float: right;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top: -18px;
}
.iconmobile-deletefilter {
    background-position: -465px -30px;
    height: 14px;
    margin-top: -1px;
    width: 15px;
}
.iconmobile-opt {
    background-position: -274px -30px;
    height: 16px;
    margin: -3px 2px 0 0;
    width: 16px;
}
.optchecked i {
    background-position: -291px -30px;
}
.checkedbox i {
    background-position: -327px -30px;
}
.iconmobile-check {
    background-position: -310px -30px;
    height: 16px;
    margin: -3px 3px 0 0;
    width: 16px;
}